[submodule "external/ts"]
	path = external/ts
	url = git@github.com:novorender/ts.git
[submodule "external/bash-stash"]
	path = external/bash-stash
	url = git@github.com:sohale/bash-stash.git
[submodule "external/msvc-wine"]
	path = external/msvc-wine
	url = https://github.com/mstorsjo/msvc-wine
